<p style="color: green"><%= notice %></p>

<h1>Useroles</h1>

<div id="useroles">
  <% @useroles.each do |userole| %>
    <%= render userole %>
    <p>
      <%= link_to "Show this userole", userole %>
    </p>
  <% end %>
</div>

<%= link_to "New userole", new_userole_path %>
