<div id="<%= dom_id role %>">
  <p>
    <strong>Title:</strong>
    <%= role.title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= role.details %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= role.rank %>
  </p>

</div>
