<p style="color: green"><%= notice %></p>

<h1>Bases</h1>

<div id="bases">
  <% @bases.each do |basis| %>
    <%= render basis %>
    <p>
      <%= link_to "Show this base", basis %>
    </p>
  <% end %>
</div>
<div>
  
</div>
<%= link_to "New base", new_basis_path %>
